{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>{{ title }}</title>
    <link type="text/css" href="{% static 'app1/css/styles.css' %}" rel="stylesheet" />
</head>
<body>
<!---------------------------- Header and navigation panel ---------------------------->
<header>
    <div class="topnav">
        <a class="active" href="{% url 'home' %}">Home</a>
            {% for m in menu %}
            <a href="{% url m.url_name %}">{{ m.title }}</a>
            {% endfor %}

        {% if user.is_authenticated %}

            <div class="authorisation">
            <a href="{% url 'logout' %}">Logout</a> <a href="#">Welcome, {{user.username}}</a>
            </div>

        {% else %}
            <div class="authorisation">
                <a href="{% url 'register' %}">Sign up</a> <a href="{% url 'login' %}">Log in</a>
            </div>

        {% endif %}

    </div>


    <h1>Log out</h1>

    <hr>
</header>
<!---------------------------- Header and navigation panel ---------------------------->

<!---------------------------- Page content (objects from posts) ---------------------------->
<h2> Go to the browser window and reload the page. Login back in if you need to.</h2>
<div class="Main1">

</div>
<!---------------------------- Page content (objects from posts) ---------------------------->

<!---------------------------- Footer ---------------------------->
    <footer>
        <hr>
        <p> &copy 2021 &nbsp&nbsp&nbsp&nbsp&nbsp Nick Kuchko</p>
        <script src="https://yastatic.net/share2/share.js"></script>
        <div class="ya-share2" data-curtain data-limit="0" data-more-button-type="short" data-popup-direction="top" data-services="facebook,telegram,twitter,viber,whatsapp,linkedin"></div>
    </footer>
<!---------------------------- Footer ---------------------------->
</body>
</html>